@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
}

<h3>Movies List</h3>
<br />
  
<a href="/Movies/New">
    <button class="mb-3 btn btn-primary">New Movie</button>
</a>

@if (Model.Movies.Count == 0)
{
    <p>There are no movies yet...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td><a href="/Movies/Edit/@movie.Id">@movie.Name</a></td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>

}