@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
}

<h3>Movies List</h3>
<br />

@if (Model.Movies.Count == 0)
{
    <p>There are no movies yet...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td><a href="/Movies/Details?Id=@movie.Id&Name=@movie.Name">@movie.Name</a></td>
                </tr>
            }
        </tbody>
    </table>

}