@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Vidly.ViewModels.CustomerDetailsViewModel

@{
    ViewBag.Title = "Details / " + @Model.Customer.Name;
}

<h3>@Model.Customer.Name</h3>

<ul>
    <li>Membership Type: @Model.Customer.MembershipType.Name</li>
    @if (Model.Customer.Birthdate != null) 
    {
        <li>Birthdate: @Model.Customer.Birthdate</li>
    }
</ul>
