@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
}

<h3>Customers List</h3>
<br />

<a href="/Customers/New">
    <button class="mb-3 btn btn-primary">New Customer</button>
</a>


<table id="customers" class="table w-100">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Membership Type</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customer/edit/" + customer.id + "'>" + data + "</a>"
                        }
                    },
                    {
                        data: "membershipType.name",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>"
                        }
                    }
                ]
            });
            $("#customers").on("click", " .js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                });
            });
        });
    </script>
}
