@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
}

<h3>Customers List</h3>
<br />

<a href="/Customers/New">
    <button class="mb-3 btn btn-primary">New Customer</button>
</a>

@if (Model.Customers.Count == 0)
{
    <p>There are no customers yet...</p>
} else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td><a href="/Customers/Edit/@customer.Id">@customer.Name</a></td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
    
}

